.turn {
  padding-top: 20px;
  padding-bottom: 20px;
}

.turn__none {
  background-color: white;
}
.turn__right {
  background-color: green;
}
.turn__wrong {
  background-color: red;
}

.turn > div {
  height: 400px;
}

img {
  max-height: 100%;
  width: 100%;
}
